@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  max-width: 550px;
}

/* ------------------------------
    Radio Slider
    ------------------------------ */
/* Radio General Syles */
/* .radio-slider {
      background: rgb(93, 188, 218);
      background: -moz-linear-gradient(top,
          rgba(93, 188, 218, 1) 0%,
          rgba(72, 140, 169, 1) 100%);
      background: -webkit-linear-gradient(top,
          rgba(93, 188, 218, 1) 0%,
          rgba(72, 140, 169, 1) 100%);
      background: linear-gradient(to bottom,
          rgba(93, 188, 218, 1) 0%,
          rgba(72, 140, 169, 1) 100%);
      filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5dbcda', endColorstr='#488ca9',
          GradientType=0);
      background-repeat: no-repeat;
      padding: 80px 20px 20px 20px;
    } */

.radio-slider .learn-more {
  background: none;
  color: #b52103;
  display: block;
  font-weight: 700;
  /* padding: 0; */
  text-transform: uppercase;
}

/* Radio Container */
/* .radio-body {
      background: url("http://jalinburton.com/portfolio/radio-body.png");
      background-repeat: no-repeat;
      background-size: 100%;
      display: block;
      margin: 0 auto;
      max-width: 1209px;
      height: 760px;
      padding-top: 107px;
      margin-top: -60px;
    } */

/* Screen */
/* .radio-screen {
      margin: 0 auto;
      max-width: 60%;
    } */

.radio-slide-logo {
  /* -webkit-align-items: center; */
  /* align-items: center; */
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(center,
      ellipse cover,
      rgba(255, 255, 255, 1) 29%,
      rgba(165, 165, 165, 1) 100%);
  background: -webkit-radial-gradient(center,
      ellipse cover,
      rgba(255, 255, 255, 1) 29%,
      rgba(165, 165, 165, 1) 100%);
  background: radial-gradient(ellipse at center,
      rgba(255, 255, 255, 1) 29%,
      rgba(165, 165, 165, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#a5a5a5',
      GradientType=1);
  /* border: 7px solid #adadad; */
  /* border-radius: 40% 40% 0 0; */
  box-shadow: inset 22px 22px 30px -20px rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 150px;
  /*-webkit-justify-content: center;
    justify-content: center;*/
  /* margin: 0 auto; */
  /* max-width: 550px; */
  /* padding: 20px 30px; */
  padding: 10px;
  /* -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 0% 78%, 0 0);
      clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 0% 78%, 0 0); */
}

/*.radio-slide-logo *::before, .radio-slide-logo *::after {
    -webkit-box-sizing: unset;
    -moz-box-sizing: unset;
    box-sizing: unset;
    }*/
/* .clip-svg {
      height: 0;
      position: absolute;
      width: 0;
    } */

/* .clip {
      -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 0% 78%, 0 0);
      clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 0% 78%, 0 0);
      -webkit-clip-path: url("#clipping");
      clip-path: url("#clipping");
    } */

.slide-wrap {
  overflow: hidden;
  /*position: absolute;*/
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.radio-slide-logo ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 2880px !important;
  margin-left: -565px !important;
}

.radio-slide-logo li {
  position: relative;
  /*position: absolute;*/
  display: block;
  float: left;
  margin: 0;
  padding: 0 40px;
  text-align: center;
  width: 480px;
}

.radio-slide-logo li img {
  max-width: 50%;
  /* max-height: 140px; */
}

.play-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  /* margin-top: -90px; */
  position: relative;
  text-align: center;
  margin-bottom: 70px;
}

.play-container {
  position: relative;
  width: 100%;
}

.play-container img {
  max-width: 100%;
}

.radio-play-btn {
  color: #b52103;
  /* left: 0; */
  /* margin-top: 65px; */
  /* position: absolute; */
  font-size: 50px;
  max-width: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.radio-play-btn i {
  cursor: pointer;
}

.fa,
.fa::before,
.fa::after {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset;
}

.radio-play-btn .fa-play {
  margin-left: 7px;
}

/* Tuner */
.radio-tuner {
  background: #fff;
  border: 3px solid #651100;
  /* border-radius: 8px; */
  box-shadow: inset 18px 18px 30px -20px rgba(0, 0, 0, 0.8);
  /* margin: 25px auto 0 auto; */
  /* max-width: 550px; */
  position: relative;
  margin: 0 auto;
}

.tuner-dial {
  background: #ff0000;
  box-shadow: 0px 0px 7px red;
  height: 46px;
  position: absolute;
  width: 2px;
  /* left: 10%; */
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.radio-clients {
  align-items: center;
  border-bottom: 2px dotted #000;
  border-top: 2px dotted #000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* -webkit-flex-flow: row wrap; */
  /* flex-flow: row wrap; */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none outside none;
  margin: 5px 5px;
  padding: 0;
}

.radio-clients li {
  padding: 10px 0 10px 10px;
}

.radio-clients li img {
  vertical-align: middle;
  /* -webkit-filter: contrast(0); */
  /* filter: brightness(0); */
  /* transition: filter 0.6s ease-in-out; */
  width: 100%;
}

/* .radio-clients li.active img {
  -webkit-filter: contrast(1);
  filter: brightness(1);
} */

/* Nav Buttons & Slide Content */
/* Wrap */
.radio-display {
  /* -webkit-align-items: center; */
  /* align-items: center; */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 75%;
}

/* Nav */
.radio-nav {
  cursor: pointer;
  max-width: 50px;
}

.radio-nav img {
  width: 100%;
}

/* Slide Content */
.radio-slide-content {
  background: #fff;
  border: 3px solid #adadad;
  border-radius: 8px;
  box-shadow: inset 18px 18px 30px -20px rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  transition: height 0.2s ease-in-out;
  margin: 0 auto;
}

.radio-slide-title {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.radio-slide-content p {
  margin-top: 0;
  /* margin-bottom: 5px; */
}